
    span{color: #2db9f7;}
    .add{position: absolute;}
    
    /* section1 */
    #sct1 {
    height: 1152px;
    position: relative;
}
#sct1 #cloudBundle1 img {
    position: absolute;
}
#sct1 #cloudBundle1 img:nth-child(1) {
    left: 33px;
    top: 260px;
}
#sct1 #cloudBundle1 img:nth-child(2) {
    width: 161PX;
    height: 90px;
    right: 317px;
    top: 95px;
}
#sct1 #cloudBundle1 img:nth-child(3) {
    right: 67px;
    top: 326px;
}

#sct1 #leafBundle1 img {
    position: absolute;
}
#sct1 #leafBundle1 img:nth-child(1) {
    top: 130px;
    left: 400px;
}
#sct1 #leafBundle1 img:nth-child(2) {
    top: 230px;
    left: 640px;
}
#sct1 #leafBundle1 img:nth-child(3) {
    top: 430px;
    right: 400px;
}
#sct1 #leafBundle1 img:nth-child(4) {
    bottom: 130px;
    left: 440px;
    transform: rotate(90deg);
}
#sct1 #leafBundle1 img:nth-child(5) {
    bottom: 130px;
    right: 285px;
    transform: rotate(90deg);
}

#sct1 #pointBundle1 img {
    position: absolute;
}
#sct1 #pointBundle1 img:nth-child(1) {
    left: 352px;
    bottom: 300px;
    width: 30px;
    height: 30px;
}
#sct1 #pointBundle1 img:nth-child(2) {
    left: 444px;
    bottom: 390px;
    width: 12px;
    height: 12px;
}
#sct1 #pointBundle1 img:nth-child(3) {
    right: 510px;
    bottom: 350px;
}
#sct1 #pointBundle1 img:nth-child(4) {
    right: 300px;
    bottom: 300px;
}
#sct1 #pointBundle1 img:nth-child(5) {
    right: 340px;
    bottom: 250px;
    width: 12px;
    height: 12px;
}

#sct1 #mainPhone {
    width: 340px;
    height: 648px;
    border-radius: 50px;
    border: 2px solid #dddddd;
    background-color: white;
    box-shadow: 1px 1px 15px 6px rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 190px;
    left: 42%;
}
#sct1 #mainPhone .logo1 img {
    width: 82px;
    height: 107px;
}
#sct1 #mainPhone h2 {
    font-size: 40px;
    padding: 70px 0 20px;
}
#sct1 #mainPhone h2 span {
    font-family: "cafe24";
    font-weight: bold;
}
#sct1 #mainPhone .text1 {
    font-size: 18px;
    padding-bottom: 110px;
    font-family: "Ptdr";
    font-weight: bold;
}
#sct1 #mainPhone #scrollDown1 {
    padding-top: 20px;
}

#sct1 #characterBundle {
    position: absolute;
    bottom: 0;
    left: 580px;
    bottom: 150px;
}
#sct1 #characterBundle img {
    width: 165px;
    height: 340px;
}
#sct1 #characterBundle img:nth-child(2) {
    padding-left: 250px;
    transform: scaleX(-1);
}

#sct1 #bushBundle {
    position: absolute;
    bottom: 150px;
    left: 360px;
    z-index: -1;
}
#sct1 #bushBundle img:nth-child(1) {
    padding-right: 390px;
    width: 420px;
    height: 180px;
}
#sct1 #bushBundle img:nth-child(2) {
    width: 414px;
    height: 226px;
}
    
    /* section2 */
    #sct2 {
    height: 1152px;
    width: 100%;
    position: relative;
}
#sct2 #textBox2 {
    padding: 234px 0 150px;
}
#sct2 #textBox2 h2 {
    text-align: center;
    font-size: 48px;
    font-family: "cafe24";
}
#sct2 #textBox2 h2 span {
    font-family: "cafe24";
}
#sct2 #textBox2 p {
    font-size: 20px;
    font-weight: 900;
    line-height: 200%;
    text-align: center;
    padding-top: 56px;
}
#sct2 #imgBox2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 142px;
}

#sct2 div:nth-child(1) {
    top: 244px;
    left: 351px;
}
#sct2 div:nth-child(2) {
    top: 354px;
    right: 341px;
}

#sct2 #imgBox2 img {
    width: 163px;
    height: 360px;
}
#sct2 .road2 {
    height: 100px;
    width: 100%;
    background: #ccb59c;
    position: absolute;
    z-index: -1;
    bottom: 1px;
}
    /* section3 */
   #sct3 {
    width: 100%;
    height: 1152px;
    position: relative;
}
#sct3 .add {
    position: absolute;
}
#sct3 #textBox3 {
    text-align: center;
    padding: 230px 0 144px;
    line-height: 200%;
}
#sct3 #textBox3 h2 {
    font-size: 48px;
    padding-bottom: 53px;
    font-family: "cafe24";
}
#sct3 #textBox3 h2 span {
    font-family: "cafe24";
}
#sct3 #textBox3 p {
    font-size: 20px;
    font-weight: 900;
    line-height: 200%;
}
#sct3 #imgBox3 {
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: center;
    bottom: 175px;
}
#sct3 #imgBox3 div {
    padding: 0 38px;
}
#sct3 .road3 {
    width: 100%;
    height: 82px;
    position: absolute;
    background: #ccb59c;
    position: absolute;
    z-index: -1;
    bottom: 1px;
}
#sct3 div:nth-child(1) {
    top: 240px;
    left: 375px;
}
#sct3 div:nth-child(2) {
    top: 315px;
    right: 395px;
}
#sct3 div:nth-child(4) {
    position: absolute;
    bottom: 32px;
    z-index: -2;
}
#sct3 .oldMen {
    position: absolute;
    left: 340px;
    bottom: 37px;
    width: 300px;
    height: 460px;
    background: url("../img/old_3p.png") no-repeat;
    background-size: cover;
    animation: oldRun 2s infinite steps(120);
}
@keyframes oldRun {
    100% {
        background-position: -36764px 0;
    }
}
#sct3 .tree3 {
    left: 100px;
}
#sct3 #imgBox3 div:nth-child(2) img {
    width: 484px;
    height: 87px;
}
#sct3 #imgBox3 div:nth-child(3) {
    padding-left: 200px;
}
#sct3 #imgBox3 div:nth-child(3) img {
    width: 179px;
    height: 122px;
}
#sct3 #imgBox3 div:nth-child(4) {
    position: absolute;
    z-index: -1;
    right: 135px;
}
#sct3 #imgBox3 div:nth-child(4) img {
    width: 528px;
    height: 317px;
}
    
    /* section4 */ 
   #sct4 {
    height: 1152px;
    overflow: hidden;
    position: relative;
}
#sct4 #textBox4 {
    text-align: center;
    padding-top: 229px;
}
#sct4 #textBox4 #title4_1 {
    left: 620px;
    top: 260px;
    font-size: 100px;
    font-weight: bold;
    padding-bottom: 45px;
    opacity: 0;
    transition: all 2s;
    transition-delay: 4s;
    position: absolute;
    color: #2db9f7;
}
#sct4 #textBox4 #title4_2 {
    font-size: 48px;
    font-family: "cafe24";
    padding-bottom: 45px;
    opacity: 1;
    transition: all 1s;
    transition-delay: 3s;
}
#sct4 #textBox4 #title4_2 span {
    font-family: "cafe24";
}
#sct4 #textBox4 #sub4_1 {
    font-size: 20px;
    font-weight: 900;
    line-height: 200%;
    opacity: 1;
    transition: all 1s;
    transition-delay: 3s;
}

#sct4 #imgBox4 {
    position: relative;
}
#sct4 #imgBox4 div {
    position: absolute;
}
#sct4 #imgBox4 div img {
    /* transform: scale(80%); */
}
#sct4 #imgBox4 #point1 {
  right: 1px;
  top: -915px;
}
#sct4 #imgBox4 #point1.Bounse {
    animation: BounsePoint 3s none;
    animation-timing-function: cubic-bezier(0.02, 0.82, 0.83, 1.08);
    animation-direction: alternate;
    animation-fill-mode: forwards;
    opacity: 1;
    animation-delay: 1s;
}
#sct4 #imgBox4 #point2 {
  right: 481px;
  top: -928px;
}
#sct4 #imgBox4 #point3 {
  right: 521px;
  top: -737px;
}
#sct4 #imgBox4 #point4 {
  right: 455px;
  top: -518px;
}
#sct4 #imgBox4 #point5 {
  right: 808px;
  top: -730px;
}
#sct4 #imgBox4 #point6 {
  right: 802px;
  top: -611px;
}
#sct4 #imgBox4 #point7 {
  left: 425px;
  top: -916px;
}
#sct4 #imgBox4 #point8 {
  left: 349px;
  top: -526px;
}
#sct4 #imgBox4 #point9 {
  left: 5px;
  top: -774px;
}
#sct4 #imgBox4 #point10 {
  left: 226px;
  top: -986px;
}
#sct4 #imgBox4 #point11 {
  left: 12px;
  top: -908px;
}
#sct4 #imgBox4 #point2.Bounse {
    animation: BounsePoint 2.7s none;
    animation-timing-function: cubic-bezier(0.02, 0.82, 0.83, 1.08);
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#sct4 #imgBox4 #point3.Bounse {
    animation: BounsePoint 2.2s none;
    animation-timing-function: cubic-bezier(0.02, 0.82, 0.83, 1.08);
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#sct4 #imgBox4 #point4.Bounse {
    animation: BounsePoint 2.3s none;
    animation-timing-function: cubic-bezier(0.02, 0.82, 0.83, 1.08);
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#sct4 #imgBox4 #point5.Bounse {
    animation: BounsePoint 2.5s none;
    animation-timing-function: cubic-bezier(0.02, 0.82, 0.83, 1.08);
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#sct4 #imgBox4 #point6.Bounse {
    animation: BounsePoint 2.8s none;
    animation-timing-function: cubic-bezier(0.02, 0.82, 0.83, 1.08);
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#sct4 #imgBox4 #point7.Bounse {
    animation: BounsePoint 2.9s none;
    animation-timing-function: cubic-bezier(0.02, 0.82, 0.83, 1.08);
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#sct4 #imgBox4 #point8.Bounse {
    animation: BounsePoint 2s none;
    animation-timing-function: cubic-bezier(0.02, 0.82, 0.83, 1.08);
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#sct4 #imgBox4 #point9.Bounse {
    animation: BounsePoint 2.2s none;
    animation-timing-function: cubic-bezier(0.02, 0.82, 0.83, 1.08);
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#sct4 #imgBox4 #point10.Bounse {
    animation: BounsePoint 2.1s none;
    animation-timing-function: cubic-bezier(0.02, 0.82, 0.83, 1.08);
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#sct4 #imgBox4 #point11.Bounse {
    animation: BounsePoint 3.2s none;
    animation-timing-function: cubic-bezier(0.02, 0.82, 0.83, 1.08);
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
@keyframes BounsePoint {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(1047px);
    }
}
    
    /* section5 */
    #sct5 {
    height: 1152px;
    position: relative;
    overflow: hidden;
}
#sct5 #textBox5 {
    text-align: center;
    padding-top: 170px;
}
#sct5 #textBox5 h2 {
    font-size: 48px;
    font-family: "cafe24";
}
#sct5 #textBox5 h2 span {
    font-family: "cafe24";
}
#sct5 #textBox5 p {
    font-size: 20px;
    padding: 54px;
    line-height: 200%;
    font-weight: 900;
}
#sct5 #textBox5 p b {
    font-family: 'cafe24';
}
#sct5 #imgBox5 img {
    position: absolute;
}
#sct5 #imgBox5 #Men5.hide5 {
    animation: Men5Hide 2s none;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
@keyframes Men5Hide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#sct5 #imgBox5 #busMove {
    position: absolute;
    bottom: 500px;
    left: -1000px;
    z-index: 2;
}
#sct5 #imgBox5 #busMove.Move {
    animation: busMove 8s none;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
@keyframes busMove {
    100% {
        transform: translateX(3300px);
    }
    50% {
        transform: translateX(1600px);
        animation-delay: 5s;
    }
    0% {
        transform: translateX(-100px);
    }
}
#sct5 #imgBox5 img:nth-child(2) {
    left: 42%;
    bottom: 174px;
}
#sct5 #imgBox5 img:nth-child(3) {
    bottom: 0;
    z-index: -1;
    width: 2048px;
}
#sct5 #imgBox5 img:nth-child(4) {
    left: 886px;
    bottom: 120px;
    opacity: 0;
}
    
    #sct5 #cloudBundle5 img{position: absolute; z-index: -2;}
    /* #sct5 #cloudBundle5 img:nth-child(1){} */
    #sct5 #cloudBundle5 img:nth-child(2){right: 0;}
    #sct5 #cloudBundle5 img:nth-child(3){left: 167px; top: 352px;}
    #sct5 #cloudBundle5 img:nth-child(4){right: 270px; top: 200px;}
    

    #sct5 #blueBoxBundle5{display: flex; justify-content: center;}
    #sct5 #blueBoxBundle5 .blueBox5{opacity: 0; display: flex; justify-content: center; align-items: center; width: 295px; height: 62px; border-radius: 90px; border: 3px solid #2DB9F7; font-size: 24px; font-weight: bold; text-align: center; margin: 0 25px;}
    #sct5 #blueBoxBundle5 #blueBox5_1.blueBox{animation: blueBox 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; animation-delay: 3s;}
    #sct5 #blueBoxBundle5 #blueBox5_2.blueBox{animation: blueBox 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; animation-delay: 3s;}
    @keyframes blueBox {
        0% {
                  transform: scale(0);
          opacity: 1;
        }
        100% {
                  transform: scale(1);
          opacity: 1;
        }
      }
      

    /* section6 */
#sct6 {
    height: 1152px;
    background-color: #2db9f7;
    position: relative;
    overflow: hidden;
}
#sct6 h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    line-height: 200%;
    font-family: "cafe24";
}
#sct6 #charactorBox {
    bottom: -730px;
    position: absolute;
}
#sct6 #charactorBox img {
    position: absolute;
    bottom: 0;
}
#sct6 #fixed6 {
    position: fixed;
    top: 200px;
    left: 692px;
    opacity: 0;
    transition: all 1s;
}
#sct6 #charactorBox img:nth-child(1) {
    height: 409px;
    left: -426px;
    transform: scale(130%);
}
#sct6 #charactorBox img:nth-child(2) {
    width: 396px;
    height: 400px;
    left: 82px;
    bottom: -57px;
}
#sct6 #charactorBox img:nth-child(3) {
    width: 290px;
    height: 432px;
    right: -875px;
    bottom: -64px;
}

/* section몇이냐 */
#sct15 {
    height: 1152px;
    background-color: #2db9f7;
    position: relative;
    overflow: hidden;
}
#sct15 #fixed15 {
    opacity: 1;
    color: white;
}
#sct15 #fixed15 #mainTitle15 {
    transition: all 3s;
    opacity: 0;
    font-size: 40px;
    line-height: 150%;
    font-family: "cafe24";
    text-align: center;
    padding-top: 75px;
}
#sct15 #fixed15 #mainTitle15.hide15 {
    opacity: 1;
    font-size: 40px;
    line-height: 150%;
    font-family: "cafe24";
    text-align: center;
    padding-top: 75px;
}
#sct15 #fixed15 #onBoardingBundle {
    display: flex;
    justify-content: center;
    padding-top: 310px;
    opacity: 0;
    transition: all 2s;
}
#sct15 #fixed15 #onBoardingBundle.nickname {
    display: flex;
    justify-content: center;
    padding-top: 0;
    opacity: 1;
}
#sct15 #fixed15 #onBoardingBundle img {
    transform: scale(80%);
}

/* section7 */
#sct7 {
    height: 1152px;
    background-color: #2db9f7;
    position: relative;
    overflow: hidden;
}
#sct7 #fixed7 {
    position: fixed;
    top: -1px;
    opacity: 0;
    transform: scale(0);
}
#sct7 #fixed7.videoFadeIn {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-fill-mode: forwards;
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
#sct7 #videoBox {
    align-items: center;
    justify-content: center;
    display: flex;
}
#sct7 video {
    width: 2048px;
    height: 1152px;
}

/* section15 */

/* section8 */
#sct8 {
    height: 1152px;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}
#sct8 img {
    width: 784px;
    height: 794px;
}
#sct8 #mainBox8 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
    position: relative;
}
.plusList{
    position: absolute;
    bottom: 3%;
    right: 21%;
}
.plusList li{
    background-color: white;
    border-radius: 16.5px;
    padding: 8px 15px;
    text-align: center;
    margin-bottom: 12px;
    font-weight: bold;
}
#sct8 .blueBox8 {
    width: 476px;
    height: 794px;
    background-color: #47c3fa;
}
#sct8 .blueBox8 .textBox8 {
    color: white;
    height: 673px;
    padding: 58px 0 0 57px;
}
#sct8 .blueBox8 .textBox8 p:nth-child(1) {
    font-size: 16px;
    padding-bottom: 15px;
}
#sct8 .blueBox8 .textBox8 p:nth-child(2) {
    font-size: 32px;
    padding-bottom: 340px;
}
#sct8 .blueBox8 .textBox8 p:nth-child(3) {
    font-size: 20px;
    padding-bottom: 28px;
}
#sct8 .blueBox8 .textBox8 p:nth-child(4) {
    font-size: 25px;
}
#sct8 .blueBox8 .textBox8 h2 {
    font-size: 48px;
    padding-bottom: 52px;
    font-weight: bold;
}

/* section9 */
#sct9 {
  height: 1152px;
  position: relative;
}
#sct9 #textBox9 {
  text-align: center;
}
#sct9 #textBox9 h2 {
  font-size: 36px;
  padding: 212px 0 45px;
  font-family: "cafe24";
}
#sct9 #textBox9 p {
  font-size: 20px;
  line-height: 200%;
}

#sct9 .show9 {
  position: absolute;
  left: 710px;
  top: 666px;
  width: 400px;
  height: 200px;
  background: url("../img/9_39cut_400x200.png") no-repeat;
  background-size: cover;
  animation: run 1.8s infinite steps(39);
  transform: scale(300%);
}
@keyframes run {
  100% {
      background-position: -15604px 0;
  }
}
#sct9 #imgBox9 img {
  position: absolute;
}
#sct9 #imgBox9 img:nth-child(1) {
  left: 329px;
  top: 0;
  z-index: 2;
}
#sct9 #imgBox9 img:nth-child(2) {
  right: 348px;
  top: 0;
  z-index: 2;
}
#sct9 #imgBox9 img:nth-child(3) {
  left: 302px;
  top: 470px;
}
#sct9 #imgBox9 img:nth-child(4) {
  right: 289px;
  top: 470px;
}
#sct9 #imgBox9 img:nth-child(5) {
  left: 312px;
  bottom: 97px;
}
#sct9 #imgBox9 img:nth-child(6) {
  bottom: 0;
  z-index: -1;
  width: 100%;
}
/* section10 */
#sct10 {
    height: 1152px;
    position: relative;
}
#sct10 #textBox10 {
    text-align: center;
}
#sct10 #textBox10 h2 {
    font-size: 36px;
    padding: 212px 0 40px;
    font-family: "cafe24";
}
#sct10 #textBox10 p {
    font-size: 20px;
    font-weight: 900;
    line-height: 200%;
}

#sct10 #imgBox10 img {
    position: absolute;
}
#sct10 #imgBox10 img:nth-child(1) {
    right: 371px;
    top: 675px;
    z-index: 2;
}
#sct10 #imgBox10 img:nth-child(2) {
    left: 244px;
    top: 730px;
    z-index: 2;
}
#sct10 #imgBox10 img:nth-child(3) {
    left: 67px;
    bottom: 122px;
    z-index: -2;
}
#sct10 #imgBox10 img:nth-child(5) {
    right: 262px;
    bottom: 122px;
    z-index: -2;
}
#sct10 #imgBox10 img:nth-child(4) {
    right: 115px;
    bottom: 122px;
    z-index: -2;
}
#sct10 #imgBox10 img:nth-child(6) {
    left: 0;
    bottom: 139px;
}
#sct10 #imgBox10 img:nth-child(7) {
    bottom: 139px;
    right: 243px;
}
#sct10 #imgBox10 img:nth-child(8) {
    bottom: 139px;
    right: 0;
}
#sct10 #imgBox10 img:nth-child(9) {
    left: 0;
    bottom: 125px;
    z-index: -3;
}
#sct10 #imgBox10 img:nth-child(10) {
    right: 0;
    bottom: 125px;
    z-index: -3;
}
#sct10 #imgBox10 .ground10 {
    width: 100%;
    height: 146px;
    background-color: #b89b6e;
    bottom: 0;
    position: absolute;
    z-index: -1;
}
#sct10 #PaperFly img {
    width: 242px;
    height: 184px;
}
#sct10 #PaperFly {
    position: absolute;
    right: 1200px;
    bottom: 170px;
    transition: all 3s ease;
}
#sct10 #PaperFly.scaleUp {
    animation: scale-up-bl 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-iteration-count: infinite;
}
@keyframes scale-up-bl {
    0% {
        transform: scale(0.5);
        transform-origin: 0 100%;
    }
    50% {
        transform: scale(1);
        transform-origin: 0 100%;
    }
    100% {
        transform: scale(0.5);
        transform-origin: 0 100%;
        right: 277px;
    }
}

#sct10 #cloudBox10 img {
    position: absolute;
}
#sct10 #cloudBox10 img:nth-child(1) {
    left: 125px;
    top: 390px;
}
#sct10 #cloudBox10 img:nth-child(2) {
    right: 370px;
    top: 215px;
}
#sct10 #cloudBox10 img:nth-child(3) {
    right: 110px;
    top: 420px;
}

/* section11 */
#sct11 {
  height: 1152px;
  position: relative;
}
#sct11 #textBox11 {
  text-align: center;
}
#sct11 #textBox11 h2 {
  font-size: 36px;
  padding: 212px 0 40px;
  font-family: "cafe24";
}
#sct11 #textBox11 h2 span {
  font-family: "cafe24";
}
#sct11 #textBox11 p {
  font-size: 20px;
  line-height: 200%;
  font-weight: 600;
}

#sct11 .boy11 {
  z-index: 2;
  position: absolute;
  right: 444px;
  top: 610px;
  width: 368px;
  height: 477px;
  background: url("../img/boy_60cut_368x477.png") no-repeat;
  background-size: cover;
  animation: boyrun 1.5s infinite steps(60);
}
@keyframes boyrun {
  100% {
      background-position: -22076px 0;
  }
}
#sct11 .senior11 {
  z-index: 2;
  position: absolute;
  left: 22px;
  top: -72px;
  width: 1200px;
  height: 1800px;
  background: url("../img/no_angkum_146cut_1200x1800png.png") no-repeat;
  background-size: cover;
  animation: seniorRun 1.8s infinite steps(146);
  transform: scale(35%);
}
@keyframes seniorRun {
  100% {
      background-position: -175023px 0;
  }
}

#sct11 #imgBox11 .ground11 {
  width: 100%;
  height: 146px;
  background-color: #b89b6e;
  bottom: 0;
  position: absolute;
  z-index: -1;
}
#sct11 #imgBox11 img {
  position: absolute;
}
#sct11 #imgBox11 img:nth-child(2) {
  left: 422px;
  bottom: 70px;
  z-index: 2;
  opacity: 0;
}
#sct11 #imgBox11 img:nth-child(3) {
  left: 768px;
  bottom: 70px;
}
#sct11 #imgBox11 img:nth-child(4) {
  right: 375px;
  bottom: 70px;
  opacity: 0;
}
#sct11 #imgBox11 img:nth-child(5) {
  left: 0;
  bottom: 136px;
  height: 148px;
  width: 384px;
  transform: rotateY('180deg');
}
#sct11 #imgBox11 img:nth-child(6) {
  right: 0;
  bottom: 136px;
  height: 148px;
  width: 384px;
}
#sct11 #imgBox11 img:nth-child(7) {
  left: 0;
  bottom: 117px;
  z-index: -2;
}
#sct11 #imgBox11 img:nth-child(8) {
  right: 0;
  bottom: 117px;
  z-index: -2;
}
#sct11 #imgBox11 img:nth-child(9) {
  left: 114px;
  top: 420px;
}
#sct11 #imgBox11 img:nth-child(10) {
  left: 390px;
  top: 190px;
}
#sct11 #imgBox11 img:nth-child(11) {
  right: 340px;
  top: 205px;
}
#sct11 #imgBox11 img:nth-child(12) {
  right: 165px;
  top: 454px;
}
#sct11 #imgBox11 img:nth-child(13) {
  width: 480px;
  height: 284px;
  left: 122px;
  bottom: 109px;
}

/* section12 */
#sct12 {
    height: 1152px;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}
#sct12 img {
    width: 784px;
    height: 794px;
}
#sct12 #mainBox12 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
    position: relative;
}
#sct12 .blueBox12 {
    width: 476px;
    height: 794px;
    background-color: #47c3fa;
}
#sct12 .blueBox12 .textBox12 {
    color: white;
    height: 673px;
    padding: 58px 0 0 57px;
}
#sct12 .blueBox12 .textBox12 p:nth-child(1) {
    font-size: 16px;
    padding-bottom: 15px;
}
#sct12 .blueBox12 .textBox12 p:nth-child(2) {
    font-size: 32px;
    padding-bottom: 340px;
}
#sct12 .blueBox12 .textBox12 p:nth-child(3) {
    font-size: 20px;
    padding-bottom: 28px;
}
#sct12 .blueBox12 .textBox12 p:nth-child(4) {
    font-size: 25px;
}
#sct12 .blueBox12 .textBox12 h2 {
    font-size: 48px;
    padding-bottom: 52px;
    font-weight: bold;
}

/* section13 */
#sct13 {
    height: 1152px;
    position: relative;
    overflow: hidden;
}
#sct13 .cloud13 {
    position: absolute;
}
#sct13 .cloud13:nth-child(1) {
    right: 136px;
    top: 90px;
}
#sct13 .cloud13:nth-child(2) {
    left: 73px;
    top: 257px;
}
#sct13 .cloud13:nth-child(3) {
    left: 379px;
    top: 403px;
}
#sct13 #mainBox13 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#sct13 #mainBox13 #mockUp13 {
    padding-left: 348px;
}
#sct13 #mainBox13 #textBox13 {
    text-align: center;
    align-items: center;
}
#sct13 #mainBox13 #textBox13 h2 {
    font-size: 36px;
    padding: 225px 0 43px;
    font-family: "cafe24";
}
#sct13 #mainBox13 #textBox13 h2 span {
    font-family: "cafe24";
}
#sct13 #mainBox13 #textBox13 p {
    font-size: 20px;
    padding-bottom: 340px;
    line-height: 200%;
    font-weight: 900;
}
#sct13 #mainBox13 #textBox13 #imgBox13 img:nth-child(1) {
    width: 178px;
    height: 210px;
    padding-right: 222px;
}
#sct13 #mainBox13 #textBox13 #imgBox13 img:nth-child(2) {
    width: 183px;
    height: 189px;
}
#sct13 #mainBox13 #textBox13 #imgBox13 .blueberryBoy13 {
    position: absolute;
    left: 444px;
    bottom: 153px;
    width: 400px;
    height: 600px;
    background: url("../img/boy_13_copy.png") no-repeat;
    background-size: cover;
    animation: BlueBerryRun 1.5s infinite steps(80);
}
@keyframes BlueBerryRun {
    100% {
        background-position: -32000px 0;
    }
}
#sct13 #mainBox13 #boxBundle13 .blueBox13 {
    position: absolute;
    background-color: #2DB9F7;
    padding: 15px 29px;
    border-radius: 50px;
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    color: white;
    line-height: 150%;
    text-align: center;
}
#sct13 #mainBox13 #boxBundle13 .blueBox13:nth-child(1) {
    right: 570px;
    top: 630px;
}
#sct13 #mainBox13 #boxBundle13 #sagwa13 {
  position: absolute;
  right: 683px;
  bottom: 535px;
  z-index: -1;
  opacity: 0;
}
#sct13 #mainBox13 #boxBundle13 #sagwa13.opne {
    animation: sagwa 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity: 1;
}
@keyframes sagwa {
    0% {
        transform: scaleX(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }
    25% {
        transform: scaleX(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }

}

#sct13 #mainBox13 #boxBundle13 #lever13 {
  position: absolute;
  right: 737px;
  top: 600px;
  opacity: 0;
}
#sct13 #mainBox13 #boxBundle13 #lever13_1 {
  position: absolute;
  right: 776px;
  top: 660px;
  opacity: 0;
}
#sct13 #mainBox13 #boxBundle13 #lever13_2 {
  position: absolute;
  right: 776px;
  top: 700px;
  opacity: 0;
}
#sct13 #mainBox13 #boxBundle13 #lever13_3 {
  position: absolute;
  right: 777px;
  top: 740px;
  opacity: 0;
}
#sct13 #mainBox13 #boxBundle13 #lever13.leverAni {
    animation: Lever 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1s;
    opacity: 1;
}
#sct13 #mainBox13 #boxBundle13 #lever13_1.leverAni {
    animation: Lever 2.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1s;
    opacity: 1;
}
#sct13 #mainBox13 #boxBundle13 #lever13_2.leverAni {
    animation: Lever 2.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1s;
    opacity: 1;
}
#sct13 #mainBox13 #boxBundle13 #lever13_3.leverAni {
    animation: Lever 2.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1s;
    opacity: 1;
}
@keyframes Lever {
    0% {
        transform: scaleX(0);
        transform-origin: 0 0;
        opacity: 1;
    }
    25% {
        transform: scaleX(1);
        transform-origin: 0 0;
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        transform-origin: 0 0;
        opacity: 1;
    }
}

#sct13 #mainBox13 #textBox13 #imgBox13 img:nth-child(3) {
    width: 183px;
    height: 189px;
}
#sct13 #mainBox13 #mockUp13 img {
    height: 758px;
    width: 420px;
}

/* section14 */
#sct14 {
    height: 1152px;
    position: relative;
}
#sct14 .cloud14 {
    position: absolute;
}
#sct14 .cloud14:nth-child(1) {
    left: 125px;
    top: 245px;
}
#sct14 .cloud14:nth-child(2) {
    right: 181px;
    top: 95px;
    z-index: -1;
}
#sct14 .cloud14:nth-child(3) {
    right: 670px;
    top: 403px;
}
#sct14 #mainBox14 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 174px;
}
#sct14 #mainBox14 #mockUp14 {
    padding-left: 349px;
}
#sct14 #mainBox14 #mockUp14 img {
    width: 420px;
    height: 755px;
}
#sct14 #mainBox14 #textBox14 {
    text-align: center;
    align-items: center;
}
#sct14 #mainBox14 #textBox14 h2 {
    font-size: 36px;
    padding: 65px 0 43px;
    font-family: "cafe24";
}
#sct14 #mainBox14 #textBox14 h2 span {
    font-family: "cafe24";
}
#sct14 #mainBox14 #textBox14 #text14title1 {
    opacity: 1;
    transition: all 3s;
    transition-delay: 3s;
}
#sct14 #mainBox14 #textBox14 #text14title2 {
    position: absolute;
    top: 180px;
    left: 385px;
    opacity: 0;
    transition: all 3s;
    transition-delay: 3s;
}
#sct14 #mainBox14 #textBox14 #text14sub1 {
    opacity: 1;
    transition: all 3s;
    transition-delay: 3s;
    line-height: 150%;
    font-size: 20px;
    font-weight: 900;
    line-height: 200%;
}
#sct14 #mainBox14 #textBox14 #text14sub2 {
    opacity: 0;
    position: absolute;
    top: 302px;
    left: 384px;
    transition: all 3s;
    transition-delay: 3s;
    line-height: 150%;
    font-size: 20px;
    font-weight: 900;
    line-height: 200%;
}
#sct14 #mainBox14 #textBox14 #text14sub.antherText2 {
    visibility: visible;
    transition: all 2s;
}
#sct14 #mainBox14 #textBox14 #text14sub {
    font-size: 20px;
    padding-bottom: 150px;
    visibility: hidden;
    font-weight: 700;
    transition: all 3s;
    animation-delay: 3.7s;
}
#sct14 #imgBox14 #show14 {
    transform: scale(1.3);
    position: absolute;
    left: 400px;
    top: 410px;
    width: 432px;
    height: 440px;
    background: url("../img/14_Rest.png") no-repeat;
    background-size: cover;
    animation: run14 2.5s infinite steps(21);
}
@keyframes run14 {
    100% {
        background-position: -8701px 0;
    }
}
#sct14 #mainBox14 #boxBundle14 .blueBox14 {
  position: absolute;
  background-color: #2DB9F7;
  padding: 15px 29px;
  border-radius: 50px;
  box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  color: white;
  line-height: 150%;
  text-align: center;
}
#sct14 #mainBox14 #boxBundle14 .blueBox14:nth-child(1) {
  right: 307px;
  top: 260px;
  opacity: 0;
}
#sct14 #mainBox14 #boxBundle14 .blueBox14:nth-child(2) {
  right: 320px;
  top: 455px;
  opacity: 0;
}
#sct14 #mainBox14 #boxBundle14 .whiteBox14 {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  border: 1px solid gray;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  color: #5F5F5F;
  padding: 12px;
}
#sct14 #mainBox14 #boxBundle14 .whiteBox14:nth-child(3) {
  right: 303px;
  top: 610px;
  opacity: 0;
}
#sct14 #mainBox14 #boxBundle14 .whiteBox14:nth-child(4) {
  right: 296px;
  top: 670px;
  opacity: 0;
}
#sct14 #mainBox14 #boxBundle14 .whiteBox14:nth-child(5) {
  right: 287px;
  top: 730px;
  opacity: 0;
}
#sct14 #mainBox14 #boxBundle14 img {
  position: absolute;
}
#sct14 #mainBox14 #boxBundle14 #whiteBox14_2 {
  right: 721px;
  bottom: 469px;
  z-index: -1;
}
#sct14 #mainBox14 #boxBundle14 #blueBox14_2 {
  right: 681px;
  bottom: 255px;
  z-index: -1;
}

#sct14 #mainBox14 #boxBundle14 #whiteBox14_2.scale-in-hor-right {
    animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 3.5s;
}
#sct14 #mainBox14 #boxBundle14 #blueBox14_2.scale-in-hor-right {
    animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 3.7s;
}
@keyframes scale-in-hor-right {
    0% {
        transform: scaleX(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

#sct14 #mainBox14 #boxBundle14 #bluebox1.scale-in-center {
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1.3s;
}
#sct14 #mainBox14 #boxBundle14 #bluebox2.scale-in-center {
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1.6s;
}
#sct14 #mainBox14 #boxBundle14 #whitebox1.scale-in-center {
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1.9s;
}
#sct14 #mainBox14 #boxBundle14 #whitebox2.scale-in-center {
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 2.2s;
}
#sct14 #mainBox14 #boxBundle14 #whitebox3.scale-in-center {
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 2.5s;
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* section16 */
#sct16 {
    height: 1152px;
    position: relative;
}
#sct16 img {
    width: 784px;
    height: 794px;
}
#sct16 #mainBox16 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
    position: relative;
}
#sct16 .blueBox16 {
    width: 476px;
    height: 794px;
    background-color: #47c3fa;
}
#sct16 .blueBox16 .textBox16 {
    color: white;
    height: 673px;
    padding: 58px 0 0 57px;
}
#sct16 .blueBox16 .textBox16 p:nth-child(1) {
    font-size: 16px;
    padding-bottom: 15px;
}
#sct16 .blueBox16 .textBox16 p:nth-child(2) {
    font-size: 32px;
    padding-bottom: 340px;
}
#sct16 .blueBox16 .textBox16 p:nth-child(3) {
    font-size: 20px;
    padding-bottom: 28px;
}
#sct16 .blueBox16 .textBox16 p:nth-child(4) {
    font-size: 25px;
}
#sct16 .blueBox16 .textBox16 h2 {
    font-size: 48px;
    padding-bottom: 52px;
    font-weight: bold;
}

/* section17 */
#sct17 {
    height: 1152px;
    position: relative;
}
#sct17 .cloud17 {
    position: absolute;
    z-index: -1;
}
#sct17 #mainBox17 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 140px;
}
#sct17 #mainBox17 div:nth-child(2) {
    padding: 1px 0 0 265px;
}
#sct17 #mainBox17 #textBox17 {
    text-align: center;
    padding-left: 181px;
}
#sct17 #mainBox17 #textBox17 h2 {
    font-family: "cafe24";
    font-size: 36px;
    padding: 52px 0 43px;
}
#sct17 #mainBox17 #textBox17 h2 span {
    font-family: "cafe24";
}
#sct17 #mainBox17 #textBox17 p {
    font-size: 20px;
    padding-bottom: 150px;
    font-weight: bold;
    line-height: 150%;
}

#sct17 #mainBox17 #imgBox17 {
    position: relative;
    bottom: -66px;
    transform: scale(90%);
}
#sct17 #mainBox17 #imgBox17 .sheepsk {
    position: absolute;
}
#sct17 #mainBox17 #imgBox17 .gril17 {
    position: absolute;
    left: 70px;
    top: -135px;
    width: 266px;
    height: 467px;
    background: url("../img/35cut_266x467.png") no-repeat;
    background-size: cover;
    animation: girlRun17 1.5s infinite steps(35);
}
@keyframes girlRun17 {
    100% {
        background-position: -9308px 0;
    }
}
#sct17 #mainBox17 #imgBox17 img:nth-child(1) {
    width: 200px;
    height: 420px;
}
#sct17 #mainBox17 #imgBox17 img:nth-child(2) {
    width: 188px;
    height: 163px;
    left: 272px;
    bottom: -315px;
}
#sct17 #mainBox17 #imgBox17 img:nth-child(3) {
    width: 176px;
    height: 118px;
    left: 395px;
    bottom: -340px;
    z-index: 2;
}
#sct17 #mainBox17 #imgBox17 img:nth-child(4) {
    width: 156px;
    height: 138px;
    left: 505px;
    bottom: -293px;
}

#sct17 #mainBox17 #boxBundle17 .blueBox17 {
    position: absolute;
    background-color: #2DB9F7;
    padding: 15px 29px;
    border-radius: 50px;
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    color: white;
    line-height: 150%;
    text-align: center;
}
#sct17 #mainBox17 #boxBundle17 #blueBox17_1 {
    left: 284px;
    top: 315px;
    opacity: 0;
}
#sct17 #mainBox17 #boxBundle17 #blueBox17_2 {
    left: 750px;
    top: 505px;
    opacity: 0;
}
#sct17 #mainBox17 #boxBundle17 #blueBox17_3 {
    left: 300px;
    bottom: 265px;
    opacity: 0;
}
#sct17 #mainBox17 #boxBundle17 #blueBox17_1.flip-in-hor-bottom {
    animation: flip-in-hor-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#sct17 #mainBox17 #boxBundle17 #blueBox17_2.flip-in-hor-bottom {
    animation: flip-in-hor-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#sct17 #mainBox17 #boxBundle17 #blueBox17_3.flip-in-hor-bottom {
    animation: flip-in-hor-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes flip-in-hor-bottom {
    0% {
        transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}

#sct17 #mainBox17 #boxBundle17 #tag17_1 {
    position: absolute;
    left: 763px;
    bottom: 304px;
    opacity: 0;
}
#sct17 #mainBox17 #boxBundle17 #tag17_2 {
    position: absolute;
    left: 1px;
    top: 373px;
    opacity: 0;
}
#sct17 #mainBox17 #boxBundle17 #tag17_1.flip-in-hor-top {
    animation: flip-in-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#sct17 #mainBox17 #boxBundle17 #tag17_2.flip-in-hor-top {
    animation: flip-in-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes flip-in-hor-top {
    0% {
        transform: rotateX(-80deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}

/* section18 */
#sct18 {
    height: 1152px;
    position: relative;
}
#sct18 .cloud18 {
    position: absolute;
    z-index: -1;
}
#sct18 #mainBox18 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 153px;
}
#sct18 #mainBox18 div:nth-child(1) img {
    width: 395px;
    height: 781px;
}
#sct18 #mainBox18 div:nth-child(2) {
    padding-left: 407px;
}
#sct18 #mainBox18 div:nth-child(2) img {
    width: 420px;
    height: 762px;
}
#sct18 #mainBox18 #textBox18 {
    text-align: center;
    align-items: center;
}
#sct18 #mainBox18 #textBox18 h2 {
    font-size: 36px;
    padding: 60px 0 43px;
    font-family: "cafe24";
}
#sct18 #mainBox18 #textBox18 h2 span {
    font-family: "cafe24";
}
#sct18 #mainBox18 #textBox18 p {
    font-size: 20px;
    padding-bottom: 150px;
    line-height: 200%;
    font-weight: 900;
}
#sct18 #mainBox18 #imgBox18 .sofaGirl18 {
    position: absolute;
    left: 297px;
    top: 403px;
    width: 540px;
    height: 540px;
    background: url("../img/18_31cut_540X540.png") no-repeat;
    background-size: cover;
    animation: sofaRun18 2s infinite steps(31);
}
@keyframes sofaRun18 {
    100% {
        background-position: -16740px 0;
    }
}

#sct18 #mainBox18 #boxBundle18 #whiteBox1111 {
    position: absolute;
    z-index: -2;
    right: 606px;
    bottom: 220px;
    opacity: 0;
}
#sct18 #mainBox18 #boxBundle18 #tag18_1 {
    position: absolute;
    z-index: -2;
    right: 873px;
    bottom: 580px;
    opacity: 0;
}
#sct18 #mainBox18 #boxBundle18 #tag18_2 {
    position: absolute;
    z-index: -2;
    right: 757px;
    bottom: 580px;
    opacity: 0;
}
#sct18 #mainBox18 #boxBundle18 #tag18_3 {
    position: absolute;
    z-index: -2;
    right: 912px;
    bottom: 535px;
    opacity: 0;
}
#sct18 #mainBox18 #boxBundle18 #tag18_4 {
    position: absolute;
    z-index: -2;
    right: 794px;
    bottom: 535px;
    opacity: 0;
}
#sct18 #mainBox18 #boxBundle18 #tag18_1.scale-in-ver-top {
    animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 2s;
    opacity: 1;
}
#sct18 #mainBox18 #boxBundle18 #tag18_2.scale-in-ver-top {
    animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 2.2s;
    opacity: 1;
}
#sct18 #mainBox18 #boxBundle18 #tag18_3.scale-in-ver-top {
    animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 2.5s;
    opacity: 1;
}
#sct18 #mainBox18 #boxBundle18 #tag18_4.scale-in-ver-top {
    animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 2.8s;
    opacity: 1;
}
@keyframes scale-in-ver-top {
    0% {
        transform: scaleY(0);
        transform-origin: 100% 0;
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        transform-origin: 100% 0;
        opacity: 1;
    }
}

#sct18 #mainBox18 #boxBundle18 .blueBox18 {
    position: absolute;
    background-color: #2DB9F7;
    padding: 15px 29px;
    border-radius: 50px;
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    color: white;
    line-height: 150%;
    text-align: center;
}
#sct18 #mainBox18 #boxBundle18 .blueBox18:nth-child(1) {
    right: 718px;
    top: 315px;
    opacity: 0;
}
#sct18 #mainBox18 #boxBundle18 .blueBox18:nth-child(2) {
    right: 277px;
    top: 505px;
    opacity: 0;
}
#sct18 #mainBox18 #boxBundle18 #blueBox18_1.scale-in-hor-center {
    animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity: 1;
}
#sct18 #mainBox18 #boxBundle18 #blueBox18_2.scale-in-hor-center {
    animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity: 1;
}
#sct18 #mainBox18 #boxBundle18 #whiteBox1111.scale-in-hor-center {
    animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity: 1;
}
@keyframes scale-in-hor-center {
    0% {
        transform: scaleX(0);
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}
/* section19 */
#sct19 {
    height: 1152px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
#sct19 h2 {
    font-size: 48px;
    font-family: "cafe24";
    padding: 220px 0 150px;
}
#sct19 h2 span {
    font-family: "cafe24";
}
#sct19 p {
    font-size: 20px;
    font-weight: bold;
}
#sct19 .sub_text19 div {
    display: flex;
}
#sct19 #colorBoxBundle19 {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
#sct19 h3 {
    font-size: 24px;
    padding-bottom: 46px;
    font-weight: bold;
}
#sct19 #grayBox19 .sub_text19 div {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #757575;
    color: white;
    border-radius: 90px;
    width: 314px;
    height: 75px;
    margin: 33px 0;
}
#sct19 #whiteBox1_19 .sub_text19 div {
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #5c5c5c;
    border: 3px solid #5c5c5c;
    border-radius: 90px;
    width: 288px;
    height: 75px;
    margin: 33px 0;
}
#sct19 #whiteBox2_19 .sub_text19 div {
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #5c5c5c;
    border: 3px solid #5c5c5c;
    border-radius: 90px;
    width: 500px;
    height: 75px;
    margin: 33px 0;
}
#sct19 #blueBox19 {
    padding-top: 22px;
}
#sct19 #blueBox19 .sub_text19 div {
    align-items: center;
    justify-content: center;
    background-color: #2db9f7;
    color: white;
    width: 285px;
    height: 75px;
    border-radius: 90px;
    margin: 11px 0;
}
#sct19 .graund19 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 2048px;
}
#sct19 .bus19 {
    position: absolute;
    bottom: 85px;
    left: 121px;
}
#sct19 .cloud19:nth-child(1) {
    position: absolute;
    top: 228px;
    left: 345px;
}
#sct19 .cloud19:nth-child(2) {
    position: absolute;
    top: 159px;
    right: 296px;
    transform: scale(0.7);
}
#sct19 .line19_1 {
    border-top: 1px solid black;
    position: absolute;
    width: 1250px;
    top: 560px;
    left: 425px;
    z-index: -1;
}
#sct19 .line19_2 {
    width: 1196px;
    top: 676px;
    left: 400px;
    z-index: -2;
    border-top: 1px solid black;
    position: absolute;
}
#sct19 .forkline19 {
    position: absolute;
    border: 1px solid black;
    border-right: none;
    background-color: white;
    width: 45px;
    height: 99px;
    top: 641px;
    right: 406px;
    z-index: -1;
}

/* section20 */
#sct20 {
    height: 1152px;
    position: relative;
    background-color: #2DB9F7;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sct20 #mainBox20 {
    display: flex;
    width: 1550px;
    height: 407px;
}
#sct20 #mainBox20 #textBox20 {
    color: white;
    padding-right: 265px;
}
#sct20 #mainBox20 #textBox20 h2 {
    font-size: 64px;
    padding: 35px 0 88px;
    font-weight: bold;
}
#sct20 #mainBox20 #textBox20 p:nth-child(1) {
    font-size: 32px;
    font-family: none;
}
#sct20 #mainBox20 #textBox20 p:nth-child(3) {
    font-size: 25px;
    line-height: 200%;
    font-family: none;
    font-weight: 600;
}
#sct20 #mainBox20 #logo20 {
    background-color: white;
    width: 404px;
    height: 407px;
    border-radius: 97px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* section21 */
#sct21 {
    overflow: hidden;
}
#textBundle21 div:nth-child(1) p:nth-child(2){
    font-family: 'cafe24';
}
#sct21 #page1_21 {
    display: flex;
    justify-content: center;
    padding: 250px 0;
}
#sct21 #page1_21 h2 {
    font-size: 40px;
    padding:15px 193px 0 0;
}
#sct21 #page1_21 h2 span {
    font-family: "cafe24";
}
#sct21 #page1_21 .textBox21_1 {
    display: flex;
}
#sct21 #page1_21 .textBox21_1 .subTitle {
    padding:10px 148px 0 0;
    font-size: 20px;
    color: #b1b1b1;
    line-height: 200%;
}
#sct21 #page1_21 .textBox21_1:nth-child(1){
    font-family: cafe24;
}
#sct21 #page1_21 .textBox21_1 .subTitle strong {
    font-size: 26px;
    color: #6c6c6c;
    font-weight: 900;
}
#sct21 #page1_21 .textBox21_1:nth-child(1) {
    padding-bottom: 120px;
}
#sct21 #page1_21 .textBox21_1 p:nth-child(2) {
    font-size: 46px;
    line-height: 150%;
    font-weight: bold;
}
#sct21 #page1_21 .textBox21_1:nth-child(2) p:nth-child(2) {
    font-weight: 500;
}

#sct21 #page2_21 {
    text-align: center;
    height: 690px;
}
#sct21 #page2_21 h2 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 175px;
}
#sct21 #keywordBox {
    display: flex;
    position: relative;
}
#sct21 #keywordBox div {
    position: absolute;
    transform: scale(200%);
}
#sct21 #keywordBox #keyword1 {
    left: -1500px;
    top: 1px;
}
#sct21 #keywordBox #keyword1.moveKW {
    left: 513px;
    top: 1px;
    transition: all 1s;
}
#sct21 #keywordBox #keyword2 {
    right: -1500px;
    top: 170px;
}
#sct21 #keywordBox #keyword2.moveKW {
    right: 367px;
    top: 170px;
    transition: all 1s;
}
#sct21 #keywordBox #keyword3 {
    left: -1500px;
    top: 340px;
}
#sct21 #keywordBox #keyword3.moveKW {
    left: 456px;
    top: 340px;
    transition: all 1s;
}

#sct21 #page3_21 {}
#sct21 #page3_21 h2 {
    font-size: 40px;
    padding: 400px 0 174px;
    text-align: center;
}
#sct21 #page3_21 h2 span {
    font-family: "cafe24";
}
#sct21 #page3_21 #colorBundle21 {
    display: flex;
}
#sct21 #page3_21 #colorBundle21 .colorBox21 {
    width: 410px;
    height: 566px;
    color: white;
    font-size: 24px;
}
#sct21 #page3_21 #colorBundle21 .colorBox21 .textBox21 {
    padding: 68px 0 0 76px;
}
#sct21 #page3_21 #colorBundle21 .colorBox21 .textBox21 p:nth-child(2) {
    padding: 360px 0 12px;
}

#sct21 #page4_21 {
    background-color: #2DB9F7;
    height: 1500px;
    position: relative;
    z-index: -2;
}
#sct21 #page4_21 #circle21 {
    position: absolute;
    left: 661px;
    top: 595px;
    width: 725px;
    height: 725px;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
}
#sct21 #page4_21 #textBox21_3 {
    color: white;
    font-size: 24px;
    padding: 97px 0 231px 75px;
}
.partMotion21{
  width: 2048px;
}
#sct21 #page4_21 #textBox21_3 p:nth-child(2) {
    padding: 75px 0 10px;
}
#sct21 .partMotion21 {
    position: absolute;
}
#page5_21{
    height: 830px;
    text-align: center;
}
#page5_21 h2{
    font-size: 40px;
    font-weight: bold;
    padding:300px 0 115px 0;

}
#page5_21 h2 span{
    font-family: "cafe24";
}
#page5_21 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 126px;
}
#page5_21 ul{
    margin-bottom: 95px;
}
#page5_21 li{
    float: left;
    margin-right: 126px;
}

#sct22 {
    position: relative;
    overflow: hidden;
    background-color: #f0faff;
    height: 2500px;
}
#sct22 #mockUpBundle22{
    position: relative;
    height: 2300px;
}
#sct22 img {
    /* transform: scale(80%); */
    position: absolute;
    /* box-shadow: 7px 11px 10px 0 rgb(0 0 0 / 35%); */
    border-radius: 40px;
}
#sct22 #mockUp22_1 {
    left: 184px;
    top: 330px;
}
#sct22 #mockUp22_2 {
    left: 607px;
    top: 551px;
}
#sct22 #mockUp22_3 {
    left: 1015px;
    top: 101px;
}
#sct22 #mockUp22_4 {
    left: 1400px;
    top: 431px;
}
#sct22 #mockUp22_5 {
    left: 184px;
    top: 1115px;
}
#sct22 #mockUp22_6 {
    left: 607px;
    top: 1349px;
}
#sct22 #mockUp22_7 {
    left: 1015px;
    top: 902px;
}
#sct22 #mockUp22_8 {
    left: 1400px;
    top: 1229px;
}
#sct22 #mockUp22_9 {
    left: 1015px;
    top: 1720px;
}

#sct23 {
    height: 1265px;
    position: relative;
    /* overflow: hidden; */
    background-color: #f0faff;
}
#sct23 div{
    position: absolute;
    top: 1160px;
    left: 450px;

}
#sct23 #background23 {
    bottom: 1px;
    left: 1px;
    position: absolute;
    width: 1117px;
    height: 1024px;
}
#sct23 img:nth-child(2) {
    position: absolute;
    left: -70px;
    bottom: 371px;
    z-index: 2;
}

#sct24 {
    overflow: hidden;
}
#sct24 img {
    width: 2048px;
}