span{color: #2db9f7;}

/* section1 */
#sct1{height: 1080px; position: relative;}
#sct1 #main1{display: flex; width: 1170px; height: 677px;}
#sct1 #main1 #chrtBox{position: absolute;}
#sct1 #main1 .chrt{ justify-content: flex-end;}
#sct1 #main1 #phone1{position: relative; z-index: 2; padding: 200px 482px; width: 350px; height: 665px;}
#sct1 #main1 #phone1 div{position: absolute;}
#sct1 #main1 #phone1 div:nth-child(1){padding: 131px 129px 74px; }
#sct1 #main1 #phone1 div:nth-child(1) img{width: 82px; height: 80px;}
/* #sct1 #main1 #phone1 #phoneText h3,p{text-align: center; width: 173px;} */
#sct1 #main1 #phone1 #phoneText h3{padding: 278px 79px 22px; font-size: 40px; color: #47C4FB;}
#sct1 #main1 #phone1 #scrollBox{display: flex; flex-direction: column; align-items: center;  top: 661px; left: 565px;}
#sct1 .bush{position: absolute;}
#sct1 .bush:nth-child(2){right: 0;}
#sct1 #main1 #phone1 #scrollBox img{height: 46px; width: 16px; padding-top: 22px;}
#sct1 .bush img{width: 378px; height: 142px; }

/* section2 */
#sct2{height: 1080px; position: relative;}
#sct2 #textBox2{padding-top: 228px;}
#sct2 #textBox2 h2,p{text-align: center;}
#sct2 #textBox2 h2 {font-size: 48px; padding-bottom: 159px;}
#sct2 #textBox2 p{font-size: 28px; padding-bottom: 56px;}
#sct2 #textBox2  #dotBox{display: flex; align-items: center; justify-content: center; flex-direction: column;}
#sct2 #textBox2  #dotBox .dot{width: 8px; height: 8px; background-color: #2db9f7; border-radius: 50%; margin-bottom: 28px;}
#sct2 #imgBox2{position: relative;}
#sct2 #imgBox2 img{position: absolute;}
#sct2 #imgBox2 div:nth-child(1) img{ left: 210px; bottom: 10px;}
#sct2 #imgBox2 div:nth-child(2) img{right: 176px; bottom: 10px;}
#sct2 #imgBox2 div:nth-child(3) img{bottom: -125px;}


/* section3 */
#sct3{height: 1080px; position: relative;}
#sct3 .add{position: absolute;}
#sct3 #textBox3{text-align: center;}
#sct3 #textBox3 h2{font-size: 48px; padding-top: 237px;}
#sct3 #textBox3 p{font-size: 20px; padding-top: 57px;}
#sct3 #imgBox3{display: flex; justify-content: center; padding-top: 153px;}
#sct3 #imgBox3 #circle3{width: 318px; height: 318px; border-radius: 50%; background-color: #D4F1ff;}
#sct3 #imgBox3 #circle3 .circleText p:nth-child(1){padding-top: 91px;}
#sct3 #imgBox3 #circle3 .circleText p:nth-child(2){padding-top: 40px;}
#sct3 #imgBox3 #circle3 .circleText


/* section4 */ 

#sct4{height: 1080px; border: 1px solid black; position: relative;}
#sct4 #textBox4{padding: 234px 0 218px 0;}
#sct4 #textBox4 h2{text-align: center; font-size: 48px;}
#sct4 #textBox4 p{font-size: 20px; padding-top: 56px;}
#sct4 #imgBox4{display: flex; justify-content: center; align-items: flex-end;}
#sct4 #imgBox4 img{width: 134px; height: 288px;}

/* section5 */
#sct5{width: 100%; height: 1080px; position: relative; border: 1px solid black;}
#sct5 .add{position: absolute;}
#sct5 #textBox5{text-align: center; padding: 230px 0 144px 0;}
#sct5 #textBox5 h2{font-size: 48px; padding-bottom: 53px;}
#sct5 #imgBox5{display: flex; align-items: flex-end; position: relative; justify-content: center;}
#sct5 #imgBox5 div{padding: 0 38px;}

/* section6 */
#sct6{height: 1080px; position: relative; overflow: hidden;}
#sct6 #cloud6{display: flex; justify-content: center; padding-top: 172px;}
#sct6 .textBox6{padding-top: 50px;}
#sct6 h2{text-align: center; font-size: 48px; font-weight: bold;}
#sct6 p{text-align: center; font-size: 20px; padding-top: 50px;}
#sct6 .backimg{align-items: flex-end; padding-top: 315px; position: absolute;}
#sct6 #bus{position: absolute; padding-top: 295px; left: -520px; transition: all 3s ease;}
#sct6 #bus.active{left: 660px;}
#sct6 #bus.active2{left: 2200px;}
#sct6 #bus img{width: 601px; height: 252px;}

/* section7 */
#sct7{height: 1080px; background-color: #f5de90; position: relative;}
#sct7 h2{font-size: 48px; font-weight: bold; text-align: center; padding-top: 100px;}
#sct7 #charactorBox{display: flex; justify-content: center; padding-top: 200px;}
#sct7 #charactorBox img{height: 389px; width: 206px; padding: 0 150px;}

/* section8 */
#sct8{height: 1080px; position: relative;}
#sct8 p {text-align: center; font-size: 25px; padding-top: 147px;} 
#sct8 #imgBox8{display: flex; align-items: center; justify-content: center; padding-top: 250px;}
#sct8 #imgBox8 .imgCenter{justify-content: center;}
#sct8 #imgBox8 #fail8{padding-left: 10px; position: absolute; top: 280px;}
#sct8 #imgBox8 #fail8.active{ animation: sky 1s ease-in-out forwards;}
@keyframes sky {
    0%{
        padding-left: 5px;
    }
    100%{
        padding-left: 360px;
    }
}
#sct8 #imgBox8 #fail8 #sizeUp{height: 159px;}
#sct8 #imgBox8 #fail8 #sizeUp.active{animation: sizeUp 1s forwards; align-items: flex-end;}
@keyframes sizeUp{
    0%{
        height: 30px;
    }50%{
        height: 159px;
    }100%{
        height: 30px;
    }
}


/* section9 */
#sct9{height: 1080px;}
#sct9 #imgBox9{display: flex; justify-content: center; align-items: center; position: relative; padding-top: 336px;}
#sct9 #imgBox9 .Sheep{padding-right: 48px;}
#sct9 #imgBox9 .imgDate{display: flex; justify-content: center; align-items: center;}
#sct9 #imgBox9 .phone{ z-index: 2;}
#sct9 #imgBox9 .phone img{height: 445px;}
#sct9 p{text-align: center; font-size: 25px; padding-top: 106px;}
#sct9 #imgBox9 .circle9{width: 280px; height: 280px; border-radius: 50%; background-color: #47c4fb;  position: absolute; right: 255px; top: 330px;}
#sct9 #imgBox9 .circle9 p{color: white;}

/* section10 */
#sct10{height: 1080px;}

/* section11 */
#sct11{height: 1080px; position: relative;}
#sct11 #textBox11{display: flex; align-items: flex-start; justify-content: center; padding-bottom: 330px;}
#sct11 #textBox11 .circle{width: 64px; height: 64px; background-color: #47c4fb; border-radius: 50%; position: absolute; left: 385px; top: -24px;}
#sct11 #textBox11 h2{font-size: 40px; font-weight: bolder; padding-right: 63px; z-index: 2;}
#sct11 #textBox11 p{font-size: 25px;}
#sct11 #imgBox11{display: flex; align-items: flex-end; justify-content: center;}
#sct11 #textBoxBundle{}
#sct11 #textBoxBundle .box11{background-color: #e3f2ff; height: 168px; width: 354px; border-radius: 20px; position: absolute; left: 210px;}
#sct11 #textBoxBundle .box11::after{content: ''; position: absolute; right: -40px; top: 50%; margin-top: 84px; border-top: -10px solid transparent; border-right: 109px solid transparent; border-bottom: 35px solid transparent; border-left: 35px solid #e3f2ff;}
#sct11 #textBoxBundle .box11 p{font-size: 20px; padding: 35px 37px; text-align: center; line-height: 180%;}

/* section12 */
#sct12{height: 1080px; position: relative; margin-top: 200px;}
#sct12 #bundle12{padding-top: 250px; display: flex;}
#sct12 #textBox12{padding:62px 439px 0 266px;}
#sct12 #textBox12 img{height: 648px; width: 648px;}
#sct12 #textBox12 p{position: absolute; font-size: 20px;line-height: 200%;}
#sct12 #textBox12 .first{left: 200px; top: 150px;}
#sct12 #textBox12 .second{left: 980px; bottom: 195px; text-align: right;}

/* section13 */
#sct13{height: 1080px;}
#sct13 #mainText13{display: flex; justify-content: center; position: relative; font-size: 20px; padding-bottom: 310px;}
#sct13 #mainText13 .circle{width: 64px; height: 64px; border-radius: 50%; background-color: #47C4FB; position: absolute; top: -32px; left: 490px; z-index: -1;}
#sct13 #mainText13 h2{font-size: 40px; font-weight: bold;}
#sct13 #bundle13{display: flex; justify-content: center;}
#sct13 #bundle13 #textBox13{left: 590px; width: 378px; height: 186px; border-radius: 20px; background-color: #e3f2ff; text-align: center; line-height: 180%; font-size: 20px; position: absolute;}
#sct13 #bundle13 #textBox13::after{content: ''; position: absolute; right: -40px; top: 50%; margin-top: 84px; border-top: -10px solid transparent; border-right: 340px solid transparent; border-bottom: 35px solid transparent; border-left: 35px solid #e3f2ff;}
#sct13 #bundle13 #textBox13 p{padding: 35px 35px;}
#sct13 #bundle13 #imgBox13{display: flex; align-items: flex-end; position: relative;}
#sct13 #bundle13 #imgBox13 .MainCharacter13{}
#sct13 #bundle13 #imgBox13 .grassG, .sheepG{display: flex;}
/* #sct13 #bundle13 #imgBox13 .sheepG img{ position: absolute;} */

/* section14 */
#sct14{height: 1080px; position: relative;}
#sct14 #bundle14{display: flex; justify-content: center;}
#sct14 #bundle14 #textBox14{padding:62px 439px 0 266px;}
