


#wrap{ width: 1850px; margin: 0 auto; border: 1px solid red;}
/* section1 */
#sct1{position: relative; height: 1080px;}
#sct1 .backImg{bottom: 0; position: absolute;}
#sct1 #cloudBox .o ,.t{position: absolute; top: 0;}

/* section2 */
#sct2{height: 1080px; width: 100%; overflow: hidden; background-color: rgb(201, 201, 201); position: relative;}
#sct2 h2{font-size: 40px; color: white; padding: 180px 50px 0 0;}
#sct2 .character2{border: 1px solid black; background: white; position: relative; border-radius: 10em; position: absolute; z-index: 2;}
#sct2 .ytb{position: absolute; display: flex; top: 260px; left: 387px; z-index: 3;}
#sct2 #flout{width: 100%; height: 216px; background: #BCBCBC; bottom: 0px;position: absolute;}
#sct2 .mount{width: 845px; height: 223px; background: #6c6969; border-radius: 140% 140% 40% 20%; position: absolute;}


/* section3 */
#sct3{ width: 100%; height: 1080px; background-color: rgb(236, 236, 236);}
#sct3 h2{font-size: 40px; text-align: center; padding-top: 115px; font-weight: bold;}
#sct3 .sct3main{display: flex; padding-top: 200px;}
#sct3 .circle3{width: 432px; height: 432px; border-radius: 50%; background: gray; position: relative; margin-top: 40px;}
#sct3 .circle3 p{font-size: 22px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#sct3 .sct3Text{width: 900px; font-size: 28px; text-align: center; padding-top: 200px; padding-left: 30px;}
#sct3 #graptable p{text-align: center; font-size: 28px; padding-top: 30px;}
#sct3 #grapBox{display: flex; width: 470px; align-items: flex-end;}
#sct3 #grapBox .grap{width: 77px; background: rgb(70, 70, 70);}
#sct3 #grapBox .grapdot{width: 107px; height: 617px; border: 4px dashed red; display: flex; justify-content: center; align-items: flex-end;}

/* section4 */ 
#sct4{width: 100%; height: 1080px; position: relative;}
#sct4 #imgBox4{display: flex; align-items: flex-end; position: relative; justify-content: center; padding-top: 170px;}
#sct4 #imgBox4 .sct4_1{padding-right: 141px;}
#sct4 #imgBox4 .sct4_2{bottom: 0;}

/* section5 */
#sct5 h2{text-align: center; font-size: 28px;}
#sct5 .imgBox5 {display: flex; position: relative; align-items: center; justify-content: center; padding-top: 80px;}

/* section6 */
#sct6{height: 1080px; position: relative; }
#sct6 #cloud6{display: flex; justify-content: center; padding-top: 172px;}
#sct6 .textBox6{padding-top: 50px;}
#sct6 h2{text-align: center; font-size: 48px;}
#sct6 p{text-align: center; font-size: 20px; padding-top: 10px;}
#sct6 .backimg{align-items: flex-end; padding-top: 315px; position: absolute;}
#sct6 .bus{position: absolute; padding-top: 295px; padding-left: 42px;}
#sct6 .bus img{width: 601px; height: 252px;}

/* section7 */
#sct7{height: 1080px; background-color: #f5de90; position: relative;}
#sct7 h2{font-size: 48px; font-weight: bold; text-align: center; padding-top: 100px;}
#sct7 #charactorBox{display: flex; justify-content: center; padding-top: 200px;}
#sct7 #charactorBox img{height: 389px; width: 206px; padding: 0 150px;}

/* section8 */
#sct8{height: 1080px; position: relative;}
#sct8 p {text-align: center; font-size: 25px; padding-top: 147px;} 
#sct8 #imgBox8{display: flex; align-items: center; justify-content: center; padding-top: 250px;}
#sct8 #imgBox8 .imgCenter{justify-content: center;}

/* section9 */
#sct9{height: 1080px;}
#sct9 #imgBox9{display: flex; justify-content: center; align-items: center; position: relative; padding-top: 336px;}
#sct9 #imgBox9 .Sheep{padding-right: 48px;}
#sct9 #imgBox9 .imgDate{display: flex; justify-content: center; align-items: center;}
#sct9 #imgBox9 .phone{ z-index: 2;}
#sct9 #imgBox9 .phone img{height: 445px;}
#sct9 p{text-align: center; font-size: 25px; padding-top: 106px;}
#sct9 #imgBox9 .circle9{width: 280px; height: 280px; border-radius: 50%; background-color: #47c4fb;  position: absolute; right: 255px; top: 330px;}
#sct9 #imgBox9 .circle9 p{color: white;}

/* section10 */
#sct10{height: 1080px;}

/* section11 */