*{margin: 0; padding: 0; text-align: center;}

#section1 #ImgSet {position: relative; border: 5px solid red; width: 1440px; height: 540px; margin: 0 auto;}
#section1 #ImgSet #picSet {width: 1440px; height: 540px; position: relative; overflow: hidden;}
#section1 #ImgSet #picSet img {position: absolute; top: 0; transition: left 1s;}
#section1 #ImgSet #picSet dl {position: absolute; z-index: 1; bottom: -100px; left: 0; background-color: rgba(139, 139, 139, 0.5); color: white; width: 100%; padding: 20px;}
#section1 #ImgSet #picSet dl.active {animation: textMotionIn forwards 1s;}
#section1 #ImgSet #picSet dl.activeOut {animation: textMotionOut forwards 1s;}
@keyframes textMotionIn {
    from{}
    to{bottom: 0;}
}
@keyframes textMotionOut {
    from{}
    to{bottom: 20px; opacity: 0;}
}


#section1 #ImgSet button {position: absolute; top: 50%; margin-top: -50px; width: 100px; height: 100px; background-color: gray; color: white; border-radius: 50%; cursor: pointer;}
#section1 #ImgSet button:hover {background-color: red;}
#section1 #ImgSet #prev_btn {left: -120px;}
#section1 #ImgSet #next_btn {right: -120px;}

#section1 #dotList {margin-top: 20px;}
#section1 #dotList li {margin: 0 20px; background-color: black; color: white; display: inline-block; width: 20px; height: 20px; border-radius: 50%; cursor: pointer;}
#section1 #dotList li:hover {background-color: gray;}
#section1 #dotList li.active {background-color: red;}